main {
  padding: 0 200px;
}


header {
  background-image:url(http://www.placecage.com/c/1500/250);
  padding: 45px;
  color: #ffffff;
}

.top-heading img {
  position: relative;
  top: -30px;
  left: -30px;
  border-radius: 50%;
}

.top-heading {
  text-align: left;

}

.navigation ul {
  list-style: none;
  text-align: right;
  margin: -10px;
}

.navigation li {
  display: inline;
  margin: 10px;
}



#second-headshot {
  border-radius: 50%;
  position: relative;
  right: -80px;
  margin: 0;
}
.paragraph {
  text-align: left;
  width: 70%;
  font-family; 'Helvetica';
  font-size: 14px;
}

.paragraph input {
  float: right;
  display: inline;
}

  #third-headshot {

    border-radius: 50%;
  }

  .author p, .author img {
    display: inline;
    position: relative;
    top: -20px;
    left: 0px;
    vertical-align: top;
  }

  #date {
    padding: 20px;
  }

  #answer {
    padding: 0 90px;
    color: #3D6BB1;
    font-size 30px;
    font-family: helvetica;
  }
#sidebar {
  font-size: 14px;
}
  .sidebar {
    float: right;
    width: 20%;
    position: relative;
    top: 10px;
    border-left: 0.5px solid black;
    padding: 10px;
  }

}
.sidebar h6, .sidebar {
  text-align: left;
  padding: 0;
  margin: 0;
}
h6 {
  font-family: font-family: 'Six Caps', sans-serif;
}
  .fivepics{
    display: inline;
  }

/* footer styles */

body > footer {
   width: 900px;
   margin: 0 auto;
}

footer h1 {
  text-align: center;
  margin: 45px 0px;
}

footer img {
  display: block;
  float: right;
  width: 175px;
  height: 175px;

}
footer {
  border-top: 0.5px solid black;

}
.bottom nav ul {
  list-style: none;
}

.bottom nav li {
  display: inline;
}

.bottom {
  display: inline;
}
input {
  background-color: #06347B;
}
